@import url('https://fonts.googleapis.com/css?family=Rock+Salt');

body{
  background-color: #000;
}
.site-header{
  display: flex;
  position: relative;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
.site-header__background{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  
}
.site-header__background img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(.7);
  opacity: 0;
  animation: fade-in 1.5s forwards;
  will-change: opacity, transform;
}

@keyframes fade-in {
  0%{
    opacity: 0;
    transform: scale(1.05);
  }
  100%{
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes slide-in-left {
  0%{
    opacity: 0;
    transform: translateX(-200%);
  }
  
  85%{
    transform: translateX(1%);
  }
  100%{
    opacity: 1;
    transform: translateX(0%);
  }
}
@keyframes slide-in-right{
  0%{
    opacity: 0;
    transform: translateX(200%);
  }
  
  85%{
    transform: translateX(-1%);
  }
  100%{
    opacity: 1;
    transform: translateX(0%);
  }
}
/*.site-header__content{
  transform: translateY(-500px);
  opacity: 0;
  animation: slide-in 1.5s forwards ease-out;
  will-change: transform, opacity;*/

.site-header__content--first{
  /*transform: translateX(-600px);*/
  animation: slide-in-left 1.5s forwards ease-out;
  will-change: transform, opacity;
}
.site-header__content--last{
  /*transform: translateX(600px);*/
  animation: slide-in-right 1.5s forwards ease-out;
  will-change: transform, opacity;
}
.site-header h1{
  font-family: 'Rock Salt', cursive;
  font-size: 2rem;
  text-shadow: 4px 4px 3px #222;
  font-weight: 500;
  color: #ededed;
}
@media (min-width: 520px) {
  .site-header h1{
    font-size: 3rem;
  }
}
@media (min-width: 860px) {
  .site-header h1{
    font-size: 4rem;
  }
}